.button2 {
    background-color: #00ff22; /* Green */
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 1px;
    
  }


  .button1 {
    background-color: #00ff22; /* Green */
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin-left: 350px;
    margin-top: 1px;
    
  }

  body {
      background-color: rgb(115, 134, 195);
  }


p {
    font-size: 30px;
}