body {
    background-color: slategray;
}

h1 {
    color: red;
    font-size: 70px;
    text-decoration: line-through;
}

h2 {
    color: green;
    font-size: 90px;
    border: solid;
    border-color: black;
}
img {
    border: solid;
    border-color: black;

}

p {
    font-size: 30px;
    margin-left: 100px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-left: 6px solid red;
    background-color: lightgrey;

    
}


.button {
    background-color: #1100ff; /* Green */
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 250px;
    
  }


  .button2 {
    background-color: #9088fa; /* Green */
    border: solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 10px;
    
  }


